body {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #444;
  font-style: normal;
  margin: 0;
  padding: 0;
  background-color: #fff;
}

* {
  box-sizing: border-box;
}

*:focus {
  outline: 2px dotted #de2e54;
  outline-offset: 2px;
}

/* CANTAINER */

.cantainer {
  width: 100%;
  max-width: 1160px;
  box-sizing: border-box;
  padding-left: 30px;
  padding-right: 30px;
  margin-left: auto;
  margin-right: auto;
}

/* SITE HEADER  */

.header-cantainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 24px;
  padding-bottom: 24px;
}

.site-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  text-decoration: none;
  font-size: 24px;
  font-weight: 600;
  line-height: normal;
  color: #222;
  transition: color 0.2s ease, opacity 0.2s ease;
}

.site-logo:hover {
  color: #de2e54;
}

.site-logo:active {
  opacity: 0.6;
}

.sitenav-list {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.sitenav-item:not(:last-child) {
  margin-right: 32px;
}

.sitenav-item a {
  color: #222;
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  transition: color 0.2s ease, opacity 0.2s ease;
}

.sitenav-item a:hover {
  color: #de2e54;
}

.sitenav-item a:active {
  opacity: 0.6;
}

.main-link {
  display: inline-block;
  font-family: "Open Sans Condensed", "Arial", sans-serif;
  font-size: 15px;
  font-weight: 700;
  line-height: 22.5px;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  padding: 10px 22px;
  background-color: #de2e54;
  letter-spacing: 2px;
  border-radius: 8px;
  border: 2px solid #de2e54;
  box-sizing: border-box;
  transition: color 0.2s ease, bacground-color 0.2s ease, opacity 0.2s ease;
}

.main-link:hover {
  color: #de2e54;
  background-color: #fff;
}

.main-link:active {
  color: #fff;
  background-color: #de2e54;
  opacity: 0.6;
}

.main-link-solid:hover {
  color: #fff;
  background-color: rgba(222, 46, 84, 0.8);
}

.main-link-solid:active {
  color: #fff;
  background: rgba(222, 46, 84, 0.6);
  opacity: 1;
}

/* SITE HERO */

.site-hero {
  background-color: #0eb4c1;
}

.hero-cantainer {
  display: flex;
  justify-content: space-between;
}

.hero-content {
  width: 500px;
  padding-top: 120px;
  padding-bottom: 120px;
}

.hero-content-title {
  font-family: "Open Sans Condensed", "Arial", sans-serif;
  color: #fff;
  font-size: 36px;
  font-weight: 700;
  line-height: 43.2px;
  padding: 0;
  margin-top: 0;
  margin-bottom: 16px;
}

.hero-content-about {
  width: 440px;
  color: #fff;
  font-size: 18px;
  line-height: 27px;
  margin-top: 0;
  margin-bottom: 36px;
}

.hero-img {
  align-self: flex-end;
}

/* FOOTER */

.site-footer {
  background-color: #222;
}

.footer-cantainer {
  display: flex;
  justify-content: space-between;
  padding-top: 24px;
  padding-bottom: 24px;
  align-items: center;
}

.footer-logo {
  color: #fff;
}

.footer-logo:active {
  color: #fff;
}

.sitenav-site-footer a {
  color: #fff;
}

.sitenav-site-footer a:active {
  color: #fff;
}
